name: Deploy Smart Panty

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/smart-pantry-app 
            git pull origin main
        
            npx prisma generate
            npm install 
            npm run build

            pm2 restart pantry-app || pm2 start npm --name "pantry-app" -- startS
